body div.digimundo {
  background: url(../img/digimundo-bg.jpg) content-box;
  height: 100vh;
  margin: 0 auto;
  padding: 20px 30px; }
  body div.digimundo .content-header {
    height: 150px;
    width: 100%;
    position: relative;
    padding: 20px; }
  body div.digimundo .col-moneda {
    width: 160px;
    height: 100%;
    background: #c3dfff;
    padding: 80px 0px;
    position: relative;
    border: 2px solid #00000078;
    border-radius: 100px;
    overflow: hidden; }
  body div.digimundo img.una-moneda {
    position: absolute;
    height: 150px;
    bottom: 0px;
    left: 5%; }

body.prueba-vue {
  max-width: 1220px;
  margin: auto;
  margin-top: 20px;
  background-color: #cacaca; }
  body.prueba-vue .nav-tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    body.prueba-vue .nav-tabs button {
      width: 100%;
      display: inline-block;
      font-size: 20px;
      border-radius: 20px 20px 0px 0px; }
      body.prueba-vue .nav-tabs button.off {
        background: #c3c3c3;
        border-color: #737373; }
      body.prueba-vue .nav-tabs button.on {
        background: white;
        border-color: #eaeaea; }
  body.prueba-vue div {
    background: red; }
  body.prueba-vue .seccion-juegos {
    padding: 10px;
    margin: auto;
    text-align: center; }

.desactivado {
  visibility: hidden;
  opacity: 0;
  display: none; }

.activo {
  visibility: visible;
  opacity: 1;
  display: block; }
