body{
    div.digimundo{
        background:url(../img/digimundo-bg.jpg) content-box;
        height: 100vh;
        margin: 0 auto;
        padding: 20px 30px;
        .content-header {
            height: 150px;
            width: 100%;
            position: relative;
            padding: 20px;
        }
        .col-moneda {
            width: 160px;
            height: 100%;
            background: #c3dfff;
            padding: 80px 0px;
            position: relative;
            border: 2px solid #00000078;
            border-radius: 100px;
            overflow: hidden;
        }
        img.una-moneda {
            position: absolute;
            height: 150px;
            bottom: 0px;
            left: 5%;
        }
    }
}
