body.prueba-vue{
    max-width: 1220px;
    margin: auto;
    margin-top: 20px;
    background-color: #cacaca;
    .nav-tabs {
        flex-direction: row;
        width: 100%;
        display: flex;
        button {
            width: 100%;
            display: inline-block;
            font-size: 20px;
            border-radius: 20px 20px 0px 0px;
            &.off {
                background: #c3c3c3;
                border-color: #737373;
            }
            &.on {
                background: white;
                border-color: #eaeaea;
            }
        }
    } 
    div{
        background:red;
    }
    .seccion-juegos {
        padding: 10px;
        margin: auto;
        text-align: center;
    }
}
.desactivado{
    visibility: hidden;
    opacity: 0;
    display: none;
}
.activo{
    visibility: visible;
    opacity: 1;
    display: block;
}