<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>

        <input type="text" v-model="nuevojuego" placeholder="Nombre del juego" v-on:keyup.enter="agregarjuego">
        <button @click="agregarjuego">Agregar juego</button>
        <ul>
            <li v-for='juego of juegos'>
                {{juego.nombre}}
                <input type="number" v-model="juego.cantidad">
                <button @click="juego.cantidad = juego.cantidad -1 ">-</button><button @click="juego.cantidad = juego.cantidad + 1 ">+</button>
                <span v-if="juego.cantidad === 0"> - Sin Stock</span>
                <span v-if="juego.cantidad < 0"> - No mames wey</span>
                
            </li>
        </ul>
        <h4>Total:{{sumarJuegos}} </h4>
    </div>
</body>
<footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/german.js"> </script>
</footer>
</html>